@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0c0909;
    --background: #fdfcfc;
    --primary: #977b72;
    --secondary: #b9bea7;
    --accent: #9cad90;
  }
  .dark {
    --text: #f6f3f3;
    --background: #030202;
    --primary: #8d7168;
    --secondary: #535841;
    --accent: #5e6f52;
  }
}